{block content}
	{foreach $article as $a}
		<div class="page" id="page{$a->id}">
			<h1>
				{$a->name}
				<small><!-- podnadpis TODO --></small>
			</h1>
			{$a->text|noescape}
		</div>
	{/foreach}
{/block}
