{**
 * Dashboard
 *}
{block content}

	<h1 n:block=title>Dashboard</h1>
	<div>
		<p>
			Vítejte v administraci webových stránek restaurace www.antonio-pizza.cz
		</p>
		<p>
			Vyberte jednu z možností v menu.
		</p>
	</div>

{/block}