{block content}
<h1>Stránky</h1>
<h2 n:block=title>Nová stránka</h2>

{control articleForm}

<hr />

<p>
	Barvu pozadí zapisujte stejně jako v CSS. Lze použít anglické jméno barvy, #RRGGBB nebo rgba() zápis. <b>rgba(255,0,0,0.8)</b> je z 80% neprůsvitná červená.
</p>
	
<a n:href="default" class="btn btn-default pull-right">Zrušit</a>

{/block}