<!DOCTYPE html>
<html lang="cs" xmlns:n="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="{if isset($setting['meta_description'])}{$setting['meta_description']}{else}Antonio Pizza Praha 5 Zbraslav{/if}">
	<meta name="author" content="Vladimír Mlázovský">

	<!-- FACEBOOK -->
	<meta property="og:image" content="http://antonio-pizza.cz/img/logo.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="256">
	<meta property="og:image:height" content="256">
	<meta property="og:url" content="{if isset($setting['facebook_url'])}{$setting['facebook_url']}{else}http://antonio-pizza.eu{/if}">
	<meta property="og:title" content="{if isset($setting['facebook_title'])}{$setting['facebook_title']}{else}Antonio Pizza Zbraslav{/if}">
	<meta property="og:description" content="{if isset($setting['facebook_description'])}{$setting['facebook_description']}{else}Antonio Pizza Praha 5 Zbraslav{/if}">

	<link rel="icon" href="{$basePath}/favicon.ico">

	<title>{ifset title}{include title|striptags} | {/ifset} {if isset($setting['title'])}{$setting['title']}{else}Antonio Pizza Zbraslav{/if}</title>

	<!-- Bootstrap core CSS -->
	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{$basePath}/css/front.css?v=20160820a" rel="stylesheet">

	<!-- Fonts -->
	<link href="{$basePath}/css/fonts.css" rel="stylesheet">

</head>

<body>

{block beforeNav}{/block}

<nav class="navbar navbar-inverse navbar-fixed-top">

	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="hidden-xs">
					<a class="navbar-brand" href="#"><img src="{$basePath}/vector/logo.svg" class="logo"/></a>
				</li>
				{foreach $menu as $i}
					{if count($i->related('article'))}
						<li class="dropdown">
							<a data-pageid="{$i->id}" data-backgroundcolor="{$i->backgroundColor}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$i->menu|noescape} <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{foreach $i->related('article') as $subi}
									<li><a data-pageid="{$subi->id}" data-backgroundcolor="{$subi->backgroundColor}" class="menu-link">{$subi->menu|noescape}</a></li>
								{/foreach}
							</ul>
						</li>
					{else}
						<li>
							<a data-pageid="{$i->id}" data-backgroundcolor="{$i->backgroundColor}" class="menu-link">{$i->menu|noescape}</a>
						</li>
					{/if}
				{/foreach}
			</ul>
			<img src="{$basePath}/vector/freewifi.svg" class="hidden-xs hidden-sm icon-lg" id="retarded-wifi-logo" alt="free Wifi">

		</div><!--/.nav-collapse -->
		<img src="{$basePath}/vector/freewifi.svg" class="visible-xs freewifi-fixed-right-top-corner" alt="free Wifi" />
		<img src="{$basePath}/vector/freewifi.svg" class="visible-sm freewifi-fixed-right-top-corner-sm" alt="free Wifi" />

		<a href="#" class="navbar-brand visible-xs logo-fixed-left-top-corner"><img src="{$basePath}/vector/logo.svg" class="logo"/></a>

		<div class="visible-sm visible-md visible-lg" id="fucking-line-in-menu" ></div>

</nav>


<div id="main-content">
	<div class="container">
		{block content}{/block}
	</div>
</div> <!-- /container -->

<footer>
	<div class="container small">
		{if isset($setting['footer'])}{$setting['footer']|noescape}{else}
		Pizza Antonio Praha 5 Zbraslav |
		<a href="tel:+420257921449"> tel: 257 921 449</a> |
		<span class="hidden-xs"> otevřeno od 11:00 do 23:00 | </span>
		&nbsp;&nbsp;<a href="https://www.tripadvisor.cz" target="_blank" title="Tripadvisor recenze"><img src="{$basePath}/img/tripadvisor.png" class="icon"/></a>&nbsp;&nbsp;
		<a href="https://www.facebook.com/pages/Pizza-Restaurant-Antonio/148419115220983?fref=ts" target="_blank" title="Pizza Antonio facebook"><img src="{$basePath}/img/fb.png" class="icon"/></a>
		<span class="pull-right hidden-xs">autor: <i>Vladimír Mlázovský 2016</i></span>
		{/if}
	</div>
</footer>

{foreach $backgrounds as $i}
	<div id="background-slide{$i->id}" class="background-slide" style="background-image:url('{$basePath}/content/background/{$i->id}.jpg'); animation-delay: {$iterator->getCounter() * 7}s;"></div>
{/foreach}


<!-- Bootstrap core JavaScript -->
<script src="{$basePath}/js/jquery.js"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>

<!-- Site JavaScript -->
<script src="{$basePath}/js/main.js"></script>

{block script}{/block}
</body>
</html>
