<!DOCTYPE html>
<html lang="cs" xmlns:n="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Hasova restaurace">
	<meta name="author" content="Vladimír Mlázovský">

	<!-- FACEBOOK -->
	<meta property="og:image" content="http://domena.cz/img/logo.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="256">
	<meta property="og:image:height" content="256">
	<meta property="og:url" content="http://demena.cz">
	<meta property="og:title" content="Hasova restaurace">
	<meta property="og:description" content="Restaurace... adresa kde ji najít">

	<link rel="icon" href="{$basePath}/favicon.ico">

	<title>{ifset title}{include title|striptags} | {/ifset} Restaurace</title>

	<!-- Bootstrap core CSS -->
	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{$basePath}/css/front.css" rel="stylesheet">

	<!-- Fonts -->
	<link href="{$basePath}/css/fonts.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" n:href="Homepage:default"><img src="{$basePath}/img/logo.png" class="logo"/></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{foreach $menu as $i}
					<li {if isset($selectedArticle) && $selectedArticle->id == $i->id}class="active"{/if}>
						<a data-pageid="{$i->id}" class="menu-link">{$i->menu}</a>
					</li>
				{/foreach}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Nav header</li>
						<li><a href="#">Separated link</a></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden-xs"><a href="#"><img src="{$basePath}/vector/freewifi.svg" class="icon-lg" alt="free Wifi"></a></li>
			</ul>
		</div><!--/.nav-collapse -->
		<img src="{$basePath}/vector/freewifi.svg" class="visible-xs freewifi-fixed-right-top-corner" alt="free Wifi" />
</nav>

<div id="main-content">
	<div class="container">
		{block content}{/block}
	</div>
</div> <!-- /container -->

<footer>
	<div class="container">
		<p>&copy; 2015 Company, Inc.</p>
	</div>
</footer>


<!-- Bootstrap core JavaScript -->
<script src="{$basePath}/js/jquery.js"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>

<!-- Site JavaScript -->
<script src="{$basePath}/js/main.js"></script>


</body>
</html>
