{block content}
	<h1>Nastavení</h1>
	<h2 n:block=title>První strana</h2>
	<p>Zvolte stránku, která se promítne po otevření webu.</p>

	{control firstPageForm}

	<hr />
	<a n:href="default" class="btn btn-default pull-right">Zrušit</a>
{/block}